# Assignment 3 - Text Analysis
An explanation this assignment could be found in the .pdf explanation document


## Materials to review for this assignment
<h4>From Moodle:</h4> 
<h5><u>Review the notebooks regarding the following python topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Working with strings</b> (tutorial notebook)<br/>
&#x2714; <b>Text Analysis</b> (tutorial notebook)<br/>
&#x2714; <b>Hebrew text analysis tools (tokenizer, wordnet)</b> (moodle example)<br/>
&#x2714; <b>(brief review) All previous notebooks</b><br/>
</div> 
<h5><u>Review the presentations regarding the following topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Text Analysis</b> (lecture presentation)<br/>
&#x2714; <b>(brief review) All other presentations</b><br/>
</div>

## Personal Details:

In [ ]:
# Details Student 1:
# Name: Chen Shmuel, ID: 313531576, Email: henshsh@gmail.com
# Details Student 2:
# Name: Yarden Blizinski, ID: 314751025 , Email: yardenblizi@gmail.com

## Preceding Step - import modules (packages)
This step is necessary in order to use external modules (packages). <br/>

In [1]:
# --------------------------------------
import pandas as pd
import numpy as np
# --------------------------------------


# --------------------------------------
# ------------- visualizations:
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
# --------------------------------------


# ---------------------------------------
import sklearn
from sklearn import preprocessing, metrics, pipeline, model_selection, feature_extraction 
from sklearn import naive_bayes, linear_model, svm, neural_network, neighbors, tree
from sklearn import decomposition, cluster

from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV 
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import mean_squared_error, r2_score, silhouette_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

from sklearn.svm import LinearSVC
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import Perceptron, SGDClassifier
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
# ---------------------------------------


# ----------------- output and visualizations: 
import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.simplefilter("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter("ignore", category=ConvergenceWarning)
# show several prints in one cell. This will allow us to condence every trick in one cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
pd.pandas.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# ---------------------------------------

### Text analysis and String manipulation imports:

In [2]:
# --------------------------------------
# --------- Text analysis and Hebrew text analysis imports:
# vectorizers:
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# regular expressions:
import re
# --------------------------------------

### (optional) Hebrew text analysis - WordNet (for Hebrew)
Note: the WordNet is not a must

#### (optional) Only if you didn't install Wordnet (for Hebrew) use:

In [3]:
# word net installation:

# unmark if you want to use and need to install
!pip install wn
!python -m wn download omw-he:1.4

Collecting wn
  Downloading wn-0.9.4-py3-none-any.whl (75 kB)
     -------------------------------------- 75.7/75.7 kB 523.4 kB/s eta 0:00:00
Requirement already satisfied: tomli in c:\users\asus\anaconda3\lib\site-packages (from wn) (2.0.1)
Requirement already satisfied: requests in c:\users\asus\anaconda3\lib\site-packages (from wn) (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asus\anaconda3\lib\site-packages (from requests->wn) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asus\anaconda3\lib\site-packages (from requests->wn) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\asus\anaconda3\lib\site-packages (from requests->wn) (1.26.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\asus\anaconda3\lib\site-packages (from requests->wn) (2.0.4)
Installing collected packages: wn
Successfully installed wn-0.9.4

Download (0 bytes) Requesting

Download [                              ] (0/315276 bytes) Receiving

Download [=                             ] (8192/315276 bytes) Receiving

Download [#-                            ] (16384/315276 bytes) Receiving

Download [##-                           ] (24576/315276 bytes) Receiving

Download [###                           ] (32768/315276 bytes) Receiving

Download [###=                          ] (40960/315276 bytes) Receiving

Download [####=                         ] (49152/315276 bytes) Receiving

Download [#####-                        ] (57344/315276 bytes) Receiving

Download [######                        ] (65536/315276 bytes) Receiving

Download [#######                       ] (73728/315276 bytes) Receiving

Download [#######=                      ] (81920/315276 bytes) Receiving

Download [########-                     ] (90112/315276 bytes) Receiving

Download [#########-                    ] (98304/315276 bytes) Receiving

Download [##########                    ] (106496/315276 bytes) Receiving

Download [##########=                   ] (114688/315276 bytes) Receiving

Download [###########=                  ] (122880/315276 bytes) Receiving

Download [############-                 ] (131072/315276 bytes) Receiving

Download [#############                 ] (139264/315276 bytes) Receiving

Download [##############                ] (147456/315276 bytes) Receiving

Download [##############=               ] (155648/315276 bytes) Receiving

Download [###############-              ] (163840/315276 bytes) Receiving

Download [################-             ] (172032/315276 bytes) Receiving

Download [#################             ] (180224/315276 bytes) Receiving

Download [#################=            ] (188416/315276 bytes) Receiving

Download [##################=           ] (196608/315276 bytes) Receiving

Download [###################-          ] (204800/315276 bytes) Receiving

Download [####################          ] (212992/315276 bytes) Receiving

Download [#####################         ] (221184/315276 bytes) Receiving

Download [#####################=        ] (229376/315276 bytes) Receiving

Download [######################-       ] (237568/315276 bytes) Receiving

Download [#######################-      ] (245760/315276 bytes) Receiving

Download [########################      ] (253952/315276 bytes) Receiving

Download [########################=     ] (262144/315276 bytes) Receiving

Download [#########################=    ] (270336/315276 bytes) Receiving

Download [##########################-   ] (278528/315276 bytes) Receiving

Download [###########################   ] (286720/315276 bytes) Receiving

Download [############################  ] (294912/315276 bytes) Receiving

Download [############################= ] (303104/315276 bytes) Receiving

Download [#############################-] (311296/315276 bytes) Receiving

Download [##############################] (315276/315276 bytes) Receiving

Download [##############################] (315276/315276 bytes) Complete

Checking C:\Users\asus\AppData\Local\Temp\tmp5ea5ifu7\omw-he\omw-he.xml
Reading C:\Users\asus\AppData\Local\Temp\tmp5ea5ifu7\omw-he\omw-he.xml

Read [##########                    ] (10000/29690)

Read [####################          ] (20000/29690)

Read [##############################] (29690/29690)

Updating lookup tables

Database [                              ] (0/29687)

Database [                              ] (0/29687) Lexicon Info

Database [                              ] (0/29687) Synsets

Database [#                             ] (1000/29687) Synsets

Database [##                            ] (2000/29687) Synsets

Database [###                           ] (3000/29687) Synsets

Database [####                          ] (4000/29687) Synsets

Database [#####                         ] (5000/29687) Synsets

Database [#####-                        ] (5448/29687) Synsets

Database [#####-                        ] (5448/29687) Words

Database [######-                       ] (6448/29687) Words

Database [#######-                      ] (7448/29687) Words

Database [########-                     ] (8448/29687) Words

Database [#########-                    ] (9448/29687) Words

Database [##########-                   ] (10448/29687) Words

Database [##########=                   ] (10827/29687) Words

Database [##########=                   ] (10827/29687) Word Forms

Database [###########=                  ] (11827/29687) Word Forms

Database [############=                 ] (12827/29687) Word Forms

Database [#############=                ] (13827/29687) Word Forms

Database [##############=               ] (14827/29687) Word Forms

Database [###############=              ] (15827/29687) Word Forms

Database [################-             ] (16206/29687) Word Forms

Database [################-             ] (16206/29687) Pronunciations

Database [################-             ] (16206/29687) Pronunciations

Database [################-             ] (16206/29687) Pronunciations

Database [################-             ] (16206/29687) Pronunciations

Database [################-             ] (16206/29687) Pronunciations

Database [################-             ] (16206/29687) Pronunciations

Database [################-             ] (16206/29687) Pronunciations

Database [################-             ] (16206/29687) Word Form Tags

Database [################-             ] (16206/29687) Word Form Tags

Database [################-             ] (16206/29687) Word Form Tags

Database [################-             ] (16206/29687) Word Form Tags

Database [################-             ] (16206/29687) Word Form Tags

Database [################-             ] (16206/29687) Word Form Tags

Database [################-             ] (16206/29687) Word Form Tags

Database [################-             ] (16206/29687) Senses

Database [##################            ] (17901/29687) Senses

Database [###################-          ] (19154/29687) Senses

Database [####################-         ] (20319/29687) Senses

Database [#####################=        ] (21531/29687) Senses

Database [######################=       ] (22671/29687) Senses

Database [#######################       ] (23078/29687) Senses

Database [#######################       ] (23078/29687) Sense Adjpositions

Database [#######################       ] (23078/29687) Counts

Database [#######################       ] (23078/29687) Counts

Database [#######################       ] (23078/29687) Syntactic Behaviours

Database [#######################       ] (23078/29687) Syntactic Behaviours

Database [#######################       ] (23078/29687) Synset Relations

Database [#######################       ] (23078/29687) Synset Relations

Database [#######################       ] (23078/29687) Synset Relations

Database [#######################       ] (23078/29687) Synset Relations

Database [#######################       ] (23078/29687) Synset Relations

Database [#######################       ] (23078/29687) Synset Relations

Database [#######################       ] (23078/29687) Synset Relations

Database [#######################       ] (23078/29687) Sense Relations

Database [#######################       ] (23078/29687) Definitions

Database [########################=     ] (24503/29687) Definitions

Database [##########################    ] (25778/29687) Definitions

Database [###########################   ] (27015/29687) Definitions

Database [############################- ] (28283/29687) Definitions

Database [#############################-] (29140/29687) Definitions

Database [##############################] (29687/29687) Definitions

Database [##############################] (29687/29687) Examples

Database [##############################] (29687/29687) Examples

Database [##############################] (29687/29687) Examples

Database [##############################] (29687/29687) Examples

Database [##############################] (29687/29687) Examples

Database [##############################] (29687/29687) Examples

Database [##############################] (29687/29687) Examples

Database [##############################] (29687/29687) Examples

Database [##############################] (29687/29687) Examples

Database [##############################] (29687/29687) Examples

Database [##############################] (29687/29687) Examples

Database [##############################] (29687/29687) Examples

Database [##############################] (29687/29687) Examples

Database [##############################] (29687/29687) Examples

Database [##############################] (29687/29687) Examples

Database [##############################] (29687/29687)
Added omw-he:1.4 (Hebrew Wordnet)

In [9]:
# word net import:

# unmark if you want to use:
import wn

### (optional) Hebrew text analysis - hebrew_tokenizer (Tokenizer for Hebrew)
Note: the hebrew_tokenizer is not a must

#### (optional) Only if you didn't install hebrew_tokenizer use:

In [10]:
# Hebrew tokenizer installation:

# unmark if you want to use and need to install:
!pip install hebrew_tokenizer

Requirement already satisfied: hebrew_tokenizer in c:\users\asus\anaconda3\lib\site-packages (2.3.0)

In [6]:
# Hebrew tokenizer import:

# unmark if you want to use:
import hebrew_tokenizer as ht

C:\Users\asus\Downloads\assignment3-text_analysis

### Reading input files
Reading input files for train annotated corpus (raw text data) corpus and for the test corpus

In [7]:
train_filename = 'annotated_corpus_for_train.csv'
test_filename  = 'corpus_for_test.csv'
df_train = pd.read_csv(train_filename, index_col=None, encoding='utf-8')
df_test  = pd.read_csv(test_filename, index_col=None, encoding='utf-8')

In [8]:
df_train.head(8)
df_train.shape

                                               story gender
0  כשחבר הזמין אותי לחול, לא באמת חשבתי שזה יקרה,...      m
1  לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...      m
2  מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...      f
3  כשהייתי ילד, מטוסים היה הדבר שהכי ריתק אותי. ב...      m
4  ‏הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...      f
5  לפני כ3 חודשים טסתי לרומא למשך שבוע. טסתי במטו...      f
6  אני כבר שנתיים נשוי והשנה אני ואישתי סוף סוף י...      m
7  השנה התחלנו שיפוץ בדירה שלנו בתל אביב. הדירה ה...      f

(753, 2)

In [11]:
df_test.head(3)
df_test.shape

   test_example_id                                              story
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...

(323, 2)

### Your implementation:
Write your code solution in the following code-cells

In [20]:
# YOUR CODE HERE
from sklearn.model_selection   import train_test_split,GridSearchCV
from sklearn.pipeline          import Pipeline
from sklearn.linear_model      import LogisticRegression
from sklearn.ensemble          import RandomForestClassifier
from sklearn.ensemble          import AdaBoostClassifier
from sklearn.tree              import DecisionTreeClassifier
from sklearn.svm               import SVC
from sklearn.metrics           import confusion_matrix,make_scorer,f1_score
from sklearn.decomposition     import TruncatedSVD
from sklearn.preprocessing     import StandardScaler
from sklearn.metrics import ConfusionMatrixDisplay,confusion_matrix

In [12]:
# YOUR CODE HERE
df_train

                                                 story gender
0    כשחבר הזמין אותי לחול, לא באמת חשבתי שזה יקרה,...      m
1    לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...      m
2    מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...      f
3    כשהייתי ילד, מטוסים היה הדבר שהכי ריתק אותי. ב...      m
4    ‏הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...      f
..                                                 ...    ...
748  אז לפני שנה בדיוק טסתי לאמסטרדם עם שני חברים ט...      m
749  שבוע שעבר העליתי באופן ספונטני רעיון לנסוע עם ...      m
750  לפני חודש עברנו לדירה בבית שמש בעקבות משפחתי ה...      m
751  החוויה אותה ארצה לשתף התרחשה לפני כמה חודשים, ...      f
752  פעם כשהייתי בחו" "ל ,בקבולומביה כחלק מהטיול של...      m

[753 rows x 2 columns]

In [13]:
# YOUR CODE HERE
df_train.story = df_train.story.apply(lambda x:re.sub(r'[^\w\s]','',x))
df_test.story  = df_test.story.apply(lambda x:re.sub(r'[^\w\s]','',x))
df_train.story = df_train.story.apply(lambda x:re.sub(r'\d+', '', x))
df_test.story  = df_test.story.apply(lambda x:re.sub(r'\d+', '', x))
df_train.gender = df_train.gender.replace({'m':1,'f':0})

In [14]:
# Add as many code cells as you need
# YOUR CODE HERE
df_test

     test_example_id                                              story
0                  0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...
1                  1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת י...
2                  2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...
3                  3  רגע הגיוס לצבא היה הרגע הכי משמעותי עבורי אני ...
4                  4  אני הגעתי לברזיל ישר מקולומביה וגם אני עשיתי ע...
..               ...                                                ...
318              318  בשנה האחרונה הרגשתי די תקוע בעבודה השגרה הפכה ...
319              319  אני ואילן חברים טובים מזה  שנה תמיד חלמנו לפתח...
320              320  מידי יום שישי אני נוהג לנסוע בתחבורה ציבורית ס...
321              321  לפני מספר חודשים בשיא התחלואה של הגל השני עמית...
322              322  היום בו דיווחתי על גניבה של האוטו שלי בוקר אחד...

[323 rows x 2 columns]

In [15]:
df_train['num_of_Words'] = df_train.story.apply(lambda x:len(x.strip().split()))
df_test['num_of_Words']  = df_test.story.apply(lambda x:len(x.strip().split()))

df_train['avg_wrd_len'] = df_train.story.apply(lambda x:np.mean(np.array([len(word) for word in x.strip().split()])))
df_test['avg_wrd_len']  = df_test.story.apply(lambda x:np.mean(np.array([len(word) for word in x.strip().split()])))

In [ ]:
def count_letter_suffix(sir,letter):
    words = sir.strip().split()
    number_of_heis_at_end = 0
    for word in words:
        if word[-1]==letter:
            number_of_heis_at_end+=1
    return number_of_heis_at_end

In [ ]:
df_train['h_count'] = df_train.story.apply(count_letter_suffix,args=('ה'))
df_test['h_count']  = df_test.story.apply(count_letter_suffix,args=('ה'))

df_train['t_count'] = df_train.story.apply(count_letter_suffix,args=('ת'))
df_test['t_count']  = df_test.story.apply(count_letter_suffix,args=('ת'))

#Text length
df_train['txt_len'] = df_train.story.apply(lambda x: len(x))
df_test['txt_len']  = df_test.story.apply(lambda x: len(x))

In [16]:
df_train

,story,gender,num_of_Words,avg_wrd_len,h_count,t_count,txt_len
0,כשחבר הזמין אותי לחול לא באמת חשבתי שזה יקרה פ...,1,419,4.205,83,33,2182
1,לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...,1,342,4.234,43,27,1792
2,מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...,0,297,4.232,59,41,1561
3,כשהייתי ילד מטוסים היה הדבר שהכי ריתק אותי בתו...,1,429,4.184,54,36,2226
4,הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכים...,0,309,4.395,35,29,1680
...,...,...,...,...,...,...,...
748,אז לפני שנה בדיוק טסתי לאמסטרדם עם שני חברים ט...,1,315,4.508,61,21,1735
749,שבוע שעבר העליתי באופן ספונטני רעיון לנסוע עם ...,1,393,4.466,62,45,2148
750,לפני חודש עברנו לדירה בבית שמש בעקבות משפחתי ה...,1,317,4.293,51,25,1683
751,החוויה אותה ארצה לשתף התרחשה לפני כמה חודשים ז...,0,406,4.153,55,25,2092
752,פעם כשהייתי בחו ל בקבולומביה כחלק מהטיול שלי ל...,1,306,3.938,55,18,1524

In [21]:
naive = Pipeline([
    ('vect', CountVectorizer(min_df=0.05, max_df=0.7, ngram_range=(1,2), token_pattern=r'([א-ת]+)')),
    ('norm', preprocessing.Normalizer(norm='max')),
    ('clf_nb', MultinomialNB(alpha=1, fit_prior=False)),
])
rd = Pipeline([
    ('vect', CountVectorizer(min_df=0.05, max_df=0.7, ngram_range=(1,2), token_pattern=r'([א-ת]+)')),
    ('norm', preprocessing.Normalizer(norm='max')),
    ('clf_nb', RandomForestClassifier(random_state=42)),
])
svm = Pipeline([
    ('vect', CountVectorizer(min_df=0.05, max_df=0.7, ngram_range=(1,2), token_pattern=r'([א-ת]+)')),
    ('norm', preprocessing.Normalizer(norm='max')),
    ('clf_nb', AdaBoostClassifier(random_state=42)),
])
ada = Pipeline([
    ('vect', CountVectorizer(min_df=0.05, max_df=0.7, ngram_range=(1,2), token_pattern=r'([א-ת]+)')),
    ('norm', preprocessing.Normalizer(norm='max')),
    ('clf_nb', DecisionTreeClassifier(random_state=42)),
])
lg = Pipeline([
    ('vect', CountVectorizer(min_df=0.05, max_df=0.7, ngram_range=(1,2), token_pattern=r'([א-ת]+)')),
    ('norm', preprocessing.Normalizer(norm='max')),
    ('clf_nb', SVC(random_state=42)),
])


for clf,model in zip([naive,rd,svm,ada,lg],["Naive Bayes","Random Forest","SVM","AdaBoost","Logistic Regression"]):
    scores = cross_val_score(clf, X=df_train["story"], y=df_train["gender"], scoring='f1_macro', cv=5, n_jobs=6)
    print(f"The model {model} have an average score of {np.mean(scores)}.\n")

The model Naive Bayes have an average score of 0.6694178762275363.

The model Random Forest have an average score of 0.44216625264565346.

The model SVM have an average score of 0.5872916779587062.

The model AdaBoost have an average score of 0.5743866698184712.

The model Logistic Regression have an average score of 0.4321232970935056.

In [22]:
df_test

,test_example_id,story,num_of_Words,avg_wrd_len,h_count,t_count,txt_len
0,0,כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...,328,4.223,57,46,1712
1,1,הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת י...,520,4.783,86,77,3011
2,2,אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...,305,4.331,61,29,1627
3,3,רגע הגיוס לצבא היה הרגע הכי משמעותי עבורי אני ...,301,4.399,34,35,1628
4,4,אני הגעתי לברזיל ישר מקולומביה וגם אני עשיתי ע...,569,4.411,54,70,3082
...,...,...,...,...,...,...,...
318,318,בשנה האחרונה הרגשתי די תקוע בעבודה השגרה הפכה ...,335,4.299,63,27,1779
319,319,אני ואילן חברים טובים מזה שנה תמיד חלמנו לפתח...,297,4.428,28,28,1619
320,320,מידי יום שישי אני נוהג לנסוע בתחבורה ציבורית ס...,363,4.603,39,64,2038
321,321,לפני מספר חודשים בשיא התחלואה של הגל השני עמית...,320,4.484,44,44,1759
322,322,היום בו דיווחתי על גניבה של האוטו שלי בוקר אחד...,343,4.213,50,47,1789

In [23]:
df_train

,story,gender,num_of_Words,avg_wrd_len,h_count,t_count,txt_len
0,כשחבר הזמין אותי לחול לא באמת חשבתי שזה יקרה פ...,1,419,4.205,83,33,2182
1,לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...,1,342,4.234,43,27,1792
2,מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...,0,297,4.232,59,41,1561
3,כשהייתי ילד מטוסים היה הדבר שהכי ריתק אותי בתו...,1,429,4.184,54,36,2226
4,הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכים...,0,309,4.395,35,29,1680
...,...,...,...,...,...,...,...
748,אז לפני שנה בדיוק טסתי לאמסטרדם עם שני חברים ט...,1,315,4.508,61,21,1735
749,שבוע שעבר העליתי באופן ספונטני רעיון לנסוע עם ...,1,393,4.466,62,45,2148
750,לפני חודש עברנו לדירה בבית שמש בעקבות משפחתי ה...,1,317,4.293,51,25,1683
751,החוויה אותה ארצה לשתף התרחשה לפני כמה חודשים ז...,0,406,4.153,55,25,2092
752,פעם כשהייתי בחו ל בקבולומביה כחלק מהטיול שלי ל...,1,306,3.938,55,18,1524

In [24]:
naive = Pipeline([
    ('vect', CountVectorizer(min_df=0.05, max_df=0.7, ngram_range=(1,2), token_pattern=r'([א-ת]+)')),
    ('norm', preprocessing.Normalizer(norm='max')),
    ('clf_nb', MultinomialNB(alpha=1, fit_prior=False)),
])
naive.fit(X=df_train["story"], y=df_train["gender"])
pred=naive.predict(df_test["story"])

Pipeline(steps=[('vect',
                 CountVectorizer(max_df=0.7, min_df=0.05, ngram_range=(1, 2),
                                 token_pattern='([א-ת]+)')),
                ('norm', Normalizer(norm='max')),
                ('clf_nb', MultinomialNB(alpha=1, fit_prior=False))])

In [25]:
df_predicted = pd.DataFrame({'test_example_id':df_test.test_example_id,'predicted_category':pred})
df_predicted.predicted_category = df_predicted.predicted_category.replace({1:'m',0:'f'})

### Save output to csv (optional)
After you're done save your output to the 'classification_results.csv' csv file.<br/>
We assume that the dataframe with your results contain the following columns:
* column 1 (left column): 'test_example_id'  - the same id associated to each of the test stories to be predicted.
* column 2 (right column): 'predicted_category' - the predicted gender value for each of the associated story. 

Assuming your predicted values are in the `df_predicted` dataframe, you should save you're results as following:

In [26]:
df_predicted.to_csv('classification_results.csv',index=False)